<div class="loader m-t-m m-b-m">
    <form class="loader-dropZone"
        (drop)="onDrop($event)"
        (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)"
        [ngClass]="{'loader-dropZone_dragover':onDragOverActive}">        
        <div class="loader-inputZone">
            <input id="file-input" class="loader-inputZone-input" type="file" multiple
            (change)="handleFileInput($event.target.files)">    
            <div>Перетащите файлы в эту область</div>
            <div>или</div>
            <label class="loader-inputZone-lable" for="file-input">Выберите файл</label>
        </div>
   </form>
   <div class="warning text-align-center" [ngClass]="{'warning_on': warningActive}">
       Загрузка доступна только для изображений
   </div>
</div>
