
.text-align-center{
    text-align: center;
    }
    .p-l-xs{
        padding-left: 3px;
    }
    
    .p-r-xs{
        padding-right: 3px;
    }
    .m-l-xs{
        margin-left: 3px;
    }
    
    .m-r-xs{
        margin-right: 3px;
    }
    .m-t-s{
        margin-top: 5px;
    }
    .m-l-s{
        margin-left: 5px;
    }
    .m-t-m{
        margin-top: 10px;
    }
    .m-b-m{
        margin-bottom: 10px;
    }
    
    
    .m-r-n-xl{
        margin-right: -50px;
    }
    .m-l-n-xl{
       margin-left: -50px 
    }
    
    
    
    